.card {
    width: 500px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(50, 158, 158);
    border-radius: 10%;
    border: 3px dashed black;
    font-size: 35px;
}

.root {
    display: flex;
}

.photo {
    width: 200px;
}