.service_card {
    width: 350px;
    height: 360px;
    color: white;
}

.service_card_text {
    font-weight: 900;
    margin: 261px 118px 65px 65px;
    font-size: 24px;
    line-height: 30.24px;
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    position: absolute;
    width: 187px;
}

.card_item {
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 45px;
}