.about_us_card_item {
    background-color: #EBEBEB;
    padding: 30px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.value {
    font-size: 55px;
    font-weight: 900;
}

.title {
    font-size: 14px;
    font-weight: 800;
    width: 107px;
}

.about_us_card_item:hover {
    background-color: #005FA3;
}


.about_us_card_item:hover button {
    color: white;
    border-color: white;
}

@media (max-width: 1000px) {
    .about_us_card_item {
        flex-direction: row;
        height: 120px;
        align-items: center;
    }

    .about_us_card_item p {
        width: 120px;
    }
}